:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
.top {
  text-align: center;
}
#container {
  width: 30%;
  padding: 2em 2em 2em 2em;
  margin: auto;
}
* {
  box-sizing: border-box;
}
#grid {
  display: grid;
  grid-template: repeat(var(--grid-rows), 1fr) / repeat(var(--grid-cols), 1fr);
}
.buttons {
  text-align: center;
}
#reset {
  font-size: 18px;
  padding: 5px 5px;
  background-color: #eba834;
  border-radius: 4px;
}

.cell {
  padding-top: 100%;
  border: 1px solid black;
  text-align: center;
  background-color: white;
}
